body{
  background: rgb(50,50,50);
}

#grid{
  background: green;
  width: 550px;
  height: 550px;
  position:relative;
}

.tile{
  background-color: darkgray;
  position:absolute;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.selector{
  background-color: grey;
  position: absolute;
  border-style: dashed;
  border-color: black;
}


yo throw this shit into JS sometime
#selectorHolder{
  background-color: lime;
}

#spawnpoint{
  background-color: red;
}

#default{
  background-color: darkgray;
}

#path{
  background-color: darkorchid;
}

#buildable{
  background-color: green;
}

#waypoint{
  background-color: cyan;
}

#deselect{
  background-color: tomato;
}